html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
}
p{
    margin: 0;
}
ul{
    padding-left: 0;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.page-header {
    text-align: center;
}

.single-friend {
    font-size: 18px;
}
.single-friend > p {
    margin-bottom: 20px;
}
.friend-results {
    margin-top: 20px;
}
.friend-results a {
    display: block;
    max-width: 100px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #000;
    background-color: #e8e8e8;
    padding-left: 5px;
}
.friend-results a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #428bca;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e8e8e8;
}
footer p {
    margin: 10px 0;
}